/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
/*body*/
body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

/*strucure*/
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
}

/*header*/
header {
  background-color: #fff5e9;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.menu-header {
  display: flex;
  align-items: center;
}

.menu-header__logo {
  max-width: 25%;
}

.header__list {
  list-style: none;
  display: flex;
}

.header__item {
  margin: 0 0 0 0.5rem;
  padding: 1rem 0.5rem;
  position: relative;
}

.header__link {
  color: #8c7c65;
  text-transform: uppercase;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus {
  opacity: 0.65;
}

.nav__span {
  background-color: #8c7c65;
  padding: 0.2rem;
  position: absolute;
  border-radius: 10px;
  top: -2%;
  right: -19%;
  color: white;
  font-size: 0.8rem;
}

/*main*/
main {
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.main__list {
  padding-top: 0.5rem;
  margin-left: 2rem;
  list-style: none;
  display: flex;
  font-size: 0.7rem;
}

.main__list a {
  text-decoration: none;
  color: black;
}

.main__list-divider {
  margin: 0 5px;
  border-bottom: 1.3px solid #8c7c65;
}

form {
  padding: 1.3rem 2rem;
}

.form__container--imput-text {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  margin-top: 1.2rem;
  align-items: center;
}
.form__input-text {
  width: 39rem;
  height: 2rem;
  padding: 0.5rem;
  border-collapse: collapse;
  border: none;
  border-bottom: 1px solid #000;
  color: gray;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
}

.form__container-text--area {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.form__container-label {
  padding: 1rem;
}

.form__text-area {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.6rem;
  color: gray;
  width: 100%;
  border: 1px solid #000;
}

.form__botton-submit {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 7px;
}

/*Text Area de la opcion OTRO*/
#otro-text {
  display: none;
}

.main__whatsapp_pop {
  position: fixed;
  bottom: 9%;
  right: 1.6rem;
  max-width: 2.7rem;
}

.main__scrolltop {
  display: none;
  position: fixed;
  background-color: black;
  border: none;
  outline: none;
  bottom: 3%;
  right: 2rem;
  z-index: 99;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 90%) 0px 0px 10px;
  color: white;
  padding: 0.5rem;
}

.main__scrolltop.active {
  display: block;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*footer*/
footer {
  padding: 2rem 0;
  color: #8c7c65;
}

.footer__icon {
  color: #8c7c65;
}

.footer__icon:hover {
  color: white;
  transition: 0.5s ease;
}

.footer-top__Items-container {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  justify-content: center;
}

.footer-top__Items-container:hover {
  background-color: #8c7c65;
  transition: 0.5s ease;
}

.footer-bottom {
  font-size: 0.7rem;
  margin-top: 3rem;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #8c7c65;
  text-decoration: underline;
}