//Main Index (galery)
.container-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    img {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      object-fit: cover;
      filter: brightness(0.9);
      transition: transform 0.25s;
      scale: 1;
    }
  
    & img:hover {
      transform: scale(1.1);
      object-fit: cover;
      filter: brightness(0.7);
    }
  }